:root {
    /* Color */
    --text-back-color: #F0F0F4;
    --blue: #1C62CD;
    --icon-color: #2F3035;
    --ad-color: #E9E9ED;

    /* Size */
    --bold: 900;
    --medium: 600;
    --norm: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

@font-face {
    font-family: SF_Pro_Light;
    src: url('./Fonts/SF-Pro-Text-Light.otf');
}

li {
    list-style: none;
}

li i {
    font-size: 1.5rem;
}

.navbar {
    position: relative;
    justify-content: center;
}

.container {
    font-family: 'SF_Pro_Light';
    height: 200px;
}

